.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topLinks {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.howToPlayLink:hover, .acknowledgementsLink:hover {
    cursor: pointer;
    color: #fff;
}

.usernameLabel {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 5px auto;
}

.usernameInput {
    border: 3px solid #000;
    border-radius: 5px;
    font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-size: 2.75vw;
    text-align: center;
    margin: 5px auto 5px auto;
}

.gameScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameScreenLeft {
    width: 20vw;
    border-right: 3px dashed #000;
}

.playersLabel {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 10px;
}

.playersList {
    border: 3px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 2.5vw;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.gameScreenRight {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkLabel, .link, .promptLabel, .liarLabel {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 0 auto;
}

.link {
    color: #fff;
}